bin/**
bin/bosaic.app/Contents/MacOS/bosaic

bin/bosaic.app/Contents/Info.plist

bin/bosaic.app/Contents/Info.plist

bin/bosaic.app/Contents/MacOS/bosaic

bosaic.xcodeproj/project.xcworkspace/xcuserdata/bob.xcuserdatad/UserInterfaceState.xcuserstate

bosaic.xcodeproj/project.xcworkspace/xcuserdata/bob.xcuserdatad/UserInterfaceState.xcuserstate

bosaic.xcodeproj/project.xcworkspace/xcuserdata/bob.xcuserdatad/UserInterfaceState.xcuserstate
